@tailwind base;
@tailwind components;

@font-face {
  font-family: proximaNova;
  src: url('./assets/ProximaNovaRegular.ttf');
  font-display: swap;
}

body {
  font-family: proximaNova, sans-serif;
}

button:disabled {
  cursor: not-allowed;
}

.carousel {
  transition: all 0.2s;
  will-change: transform;
  user-select: none;
  cursor: pointer;
  user-select: none;
  transform: scale(0.99);
  scrollbar-width: none;
}

.carousel-active {
  cursor: grabbing;
  transform: scale(1);
}

.search-button:disabled:hover {
  background-color: #3b82f6;
}
/* 
.carousel-card,
.carousel-card a,
.carousel-card img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  -ms-user-drag: none;
  user-drag: none;
}
/* 
.carousel-card button {
  pointer-events: auto;
} */

.carousel::-webkit-scrollbar {
  display: none;
}

.loader {
  border: 8px solid #d1d5db;
  border-radius: 50%;
  border-top: 8px solid #3b82f6;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@tailwind utilities;
